
<div class='row-fluid'>
	<div class='span-8'>
		<div id='banner'>
			<center>Announcement</center>
		</div>
		<div class='bendera'>
			<%=image_tag '/assets/bendera.jpg' %>
		</div>
		<div class='colomcolom'>
			<div>		
				<ul class="nav nav-pills">
	  			<li class="active">
	    			<a href="#">Questions</a>
	 		 	 </li>
	 		 	 <li>
	 		  		<a href="#">Users</a>
	 			  </li>
	  			<li>
	  				<a href="#">Tags</a>
	  			</li>
				</ul>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='topcategories'>
			<center>
				<div id='satu'>
					Hot Question Categories
				</div>
			</center>
			<br>
			<center>
				<div id='dua'>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
					<a id='category' href="#">Category</a>
				</div>
			</center>
		</div><br>
		<h1 id='judul'>Top Question</h1>
		<ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul>
		<div style='clear:both'></div>
		<div class='topquestions'>
			<div><a href="">[ASK] cara menggunakan dreamweaver</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>	
				<div><a href="">Cara memasukan database di Visual Basic.net</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>
				<div><a href="">Cara install linux menjadi dual boot dengan win 7</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>	
				<div><a href="">Bagaimana cara mengatasi kumputer yang gagal booting</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>
				<div><a href="">Lorem Ipsum Dolor Sit Amet</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>	
				<div><a href="">Consectetur adipiscing elit</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>	
				<div><a href="">Integer molestie lorem at massa</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div><br>	
				<div><a href="">Facilisis in pretium nisl aliquet</a></div><br>
				<div id='dua'>
					<a style='margin-right:50px' href="">screamvoidz</a>
					<a class='category1' style='margin-right:60px' href="">tag</a>
					<a id='category' class='kanan' href="">Answer</a>
					<a id='category' class='kanan' href="">View</a>
					<a id='category' class='kanan' href="">Vote</a>
				</div>
		</div>
		<div class='sampingkanan'>
			<div class=''>Nulla volutpat aliquam velit</div>
		</div>
	</div>
</div>
