<div class='row-fluid'>
	<div class='span-8'>
		<div style='padding:15px;'>
		<h1>New Question</h1>
		<%= render 'form' %>
		<%= link_to 'Cancel', questions_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>