<%= render 'layouts/menu' %>

<div class='row-fluid'>
	<div class='span-8'>
		<div id='banner'>
			<center>Announcement</center>
		</div>
		<div class='bendera'><%=
		 image_tag '/assets/bendera.jpg' %>
		</div>
		<div class='colomcolom'>		
			<ul class="nav nav-pills">
  			<li class="active">
    			<a href="#">Questions</a>
 		 	 </li>
 		 	 <li>
 		  		<a href="#">Users</a>
 			  </li>
  			<li>
  				<a href="#">Tags</a>
  			</li>
			</ul>
		</div>
		<br><br><br><br>
	</div>
		<h1 id='judul'>Users</h1>
		<ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul>
		<div style='clear:both'></div>
		<ul class='ranking'>
			<% 25.times do |rank| %>
				<% if rank == 0 %>
					<li>
						<div>
							<div class='besar'>
								<div class='size'>
									<%= image_tag '/assets/dragon.jpg', class: 'img-circle' %>
								</div>
								<div class='ratafoto'>
									<div class='text'>username</div><br>
									<div class='text'>reputation</div><br>
									<div class='text'>tags</div>
								</div>
							</div>
						</div>
					</li>
				<% else %>
					<li>
						<div>
							<div>
								<div class='size2'>
									<%= image_tag '/assets/dragon.jpg', class: 'img-circle' %>
								</div>
								<div class='ratafoto2'>
									<div class='text2'>username</div>
									<div class='text2'>reputation</div>
									<div class='text2'>tags</div>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
</div>
