<%= render 'layouts/menu' %>

<div class='row-fluid'>
	<div class='span-8'>
		<br><br><br><br>
		<div id='banner'>
			<center>Announcement</center>
		</div>
		<div class='kanan'>		
			<ul class="nav nav-pills">
  			<li class="active">
    			<a href="#">Questions</a>
 		 	 </li>
 		 	 <li>
 		  		<a href="#">Users</a>
 			  </li>
  			<li>
  				<a href="#">Tags</a>
  			</li>
			</ul>
		</div><br><br><br><br>
		<h1 id='judul'>Users</h1>
		<ul id='navbar' class="nav nav-tabs">
  		<li class="active">
   			<a href="#">Interest</a></li>
 		 	<li><a href="#">Hot</a></li>
 			<li><a href="#">Week</a></li>
 		 	<li><a href="#">Month</a></li>
		</ul>
		<div style='clear:both'></div>
		<div>
			<div class='size'>
				<%= image_tag '/assets/dragon.jpg', class: 'img-circle' %>
			</div>
			<div class='ratafoto'>
				<div class='warnatext'>aaaaaaaaa</div><br><br>
				<div class='warnatext'>aaaaaaaaa</div><br><br>
				<div class='warnatext'>aaaaaaaaa</div>
			</div>
		</div>
		<div>
			<div class='size1'>
				<%= image_tag '/assets/dragon.jpg', class: 'img-circle' %>
			</div>
			<div class='ratafoto'>
				<div class='warnatext'>addddaaaa</div><br><br>
				<div class='warnatext'>addddaaaa</div><br><br>
				<div class='warnatext'>aadddaaaa</div>
			</div>
		</div>
	</div>
</div>