<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" style='height:500px; width:1200px;'>
    <div class="active item">
    	<div style='height:500px; width:1200px; background-image: url(http://fc04.deviantart.net/fs71/i/2012/259/f/b/elsword_rps___job_path_sheet__1st_path__smsgs_by_xxxblack_angelxxx-d5eulda.png)'></div>
    </div>
    <div class="item">
    	<div style='height:500px; width:1200px; background-image: url(http://tugaleres.files.wordpress.com/2012/02/elsword__lord_knight_by_ikrius-d41lt50.png)'></div>
    </div>
    <div class="item">
    	<div style='height:500px; width:1200px; background-image: url(http://4.bp.blogspot.com/-zhx--F6r7RI/UbFbIO-TZJI/AAAAAAAAAaQ/HXwTNfiXv1U/s1600/elsword-elsword-wallpaper-2.jpg)'></div>
  </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<!-- style='background-image: url(http://4.bp.blogspot.com/-zhx--F6r7RI/UbFbIO-TZJI/AAAAAAAAAaQ/HXwTNfiXv1U/s1600/elsword-elsword-wallpaper-2.jpg)' -->