<div class='row-fluid'>
	<div class='span-8'>
		<h1 style="color:red;" align="center" title="Succes Bro">Ini Namanya Page Home</h1>
<div style='text-align:center'><%= image_tag '/assets/dragon.jpg'%></div>
<h3 align="center">Do You want to login?</h3>
<div align='center'><a href="/users/sign_in">Sign In</a> | <a href="/users/sign_up">Sign Up</a></div>
</div>
</div>