<h1 style='text-align:center;'>Welcome to Q-Z.com</h1>

<!-- style='background-image: url(http://4.bp.blogspot.com/-zhx--F6r7RI/UbFbIO-TZJI/AAAAAAAAAaQ/HXwTNfiXv1U/s1600/elsword-elsword-wallpaper-2.jpg)' -->