.textcolor {
	color: black;
}

.picquest {
	float: right;
	margin-top: -85px;
	img {
		width: 350px;
		height: 400px;
	}
}

.titlesize {
	width:400px;
	margin-left:10px;
}

.messagesize {
	width: 500px; 
	height: 200px; 
	margin-left:10px;
}

.tagsize {
	margin-right: 10px;
	margin-left:10px; 
	float:left;
	width: 450px;
}

.insert {
	font-size: 16px;
	margin-top: 3px;
}