.title {
	font-size: 55px;
	font-family: Comic sans-serif;
	margin: 20px;
	color: #1E1E1E;
}

.divbox {
	margin: 20px;
}

.loginusing {
	color: black;
	margin-top:10;
}

.carousel-border {
	border: 1px solid orange;
}