body {
	/*background-image: url('body_background.png');*/
	background: #e9eaed;

}

.navbar {
	.q-zone {
		color: black; 
		font-size: 26px; 
		text-shadow: 9px 0px 4px #999;
		-webkit-transition :all .3s linear;
	}
}

.navbar {
	.q-zone:hover {

		-webkit-transition :all .3s linear;
	}
}

.containerer {
	margin: auto;
	width: 80.90598%;
}


.menu {
	height: 27px;
	width: 27px;
	margin-right: 10px;
}

.content {
	background-color: white;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	padding: 20px 20px 0px 20px;
	margin-bottom: 5px;
}

a.t-question {
	font-size: 18px;
	font-weight: bold;
	color: #464646;
	font-family: 'Arvo', Arial, serif;
}

img.logout {
		width: 20px;
		height: 20px;
		float: right;
}

.fb {
	float: left;
	margin: 2px;
	img {
		width: 150px;
		height: 30px;
	}
}

.twitter {
	margin: 2px;
	img {
		width: 150px;
		height: 30px;
	}
}

.slide {
	width: 600px;
	height: 270px;
	margin: 35px;
}

.comments {
	list-style-type: none;
}

#comenter {
	clear:both;
}

.field {
	margin-top: 50px;
}

.qtitle {
	color: white;
	margin-left: 40px;
}

.quest1 { 
	color: white;
	border-radius: 10px;
	margin:20px; 
	margin-left: 0px;
	margin-right: 50px;
	width: 650px; 
	float:left;
	padding: 10px;
}

.chat {
	img {
		height: 50px;
		width: 50px;
	}
}

.bottomleft	{
	width: 100px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	clip: inherit;
	z-index: 1000;
	}

.container2 {
	margin-top: 80px;
	margin-bottom: 40px;
}

#banner {
	border: 5px solid black;
	border-top: 0px;
	border-left: 0px;
	border-radius: 0px 0px 10px 0px;
	width: 53%;
	height: 100px;
	padding:20px;
	font-size: 50px;
	font-weight: bolder;
	background: #E0FFFF;
	/*img {
		height: 250px;
		width: 70%;
	}*/
}

.kanann {
	float:right;
	margin-right:5%;
}

.signin{
	float:right;
	padding: 20px;
	padding-right: 50px;
}

.kanan {
	float:right
}

.kiri {
	float:left
}

.signin {
	margin-right:5px;
}

.toolbar {
	width:100%;
	background-color: black;
	color: white;
}


.margintb {
	margin: 0px;
	float:left;
}

.topcategories {
	border:2px solid black;
	border-radius: 20px;
	width: 35%;
	height: 75px;
}

.topquestions {
	margin-bottom: 25px;
	border-radius: 20px;
	width: 57%;
	padding: 30px;
	font-size: 20px;
	float: left;
	overflow-y: scroll;
	height: 300px;
}

.toples {
	border-bottom:1px solid white; 
	padding-bottom: 2px;
}

.colomcolom {
		float: right;
	
	
}

.sampingkanan {
	border: 2px solid black;
	border-radius: 10px;
	margin: 0px 30px 0px 0px;
	float: right;
	width: 30%;
	height: 270px;
	padding: 10px;
}

.besar {
		font-size: 30px;
		width: 280px;
		height: 100px;
}

.kecil {
	width: 100px;
		height: 100px;
}

ul.ranking {
	li {
		float: left;
		list-style-type: none;
	}
}

.ratafoto {
	margin-top: 50px;
	float: left;
}

.ratafoto2 {
	margin-top: 12px;
	float: left;
}

/*.text {
	font-size: 18px;
	color: white;
}*/

.text2 {
	font-size: 14px;
	color: white;
}

.bendera {
	margin: 15px 0px 15px 0px;
	img {
		height: 50px;
		width: 100%;
	}
}


.size {
	float:left;
	margin:10px;
	img {
		height: 165px;
		width: 165px;
	}
}

.carousel-control {
	margin-top: 5px;
}

.picslide {
	img {
		height: 270px;
		width: 600px;
	}
}

.size2 {
	float:left;
	margin:10px;
	margin-left: 35px;
	img {
		height: 75px;
		width: 75px;
	}
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	img {
		width: 100%;
		height: 100px;
	}

}

#questionattr {
	font-size: 6px;
}

div#satu {
	border: 2px solid black;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 20px 20px 0px 0px;
	color: black;
	font-weight: bolder;
	font-size: 20px;
	padding: 2px;
	background: #437C01;
}

.tag {
	margin-top: 10px;
	height: 21px;
	width: 100px;
	border: 1px solid white;
	padding: 0px;
	background: khaki;
}

div#dua {
	font-size: 12px;
}

#category {
	margin: 5px;
}

.category1 {
	color: white;
	margin: 5px;
	background-color: #0088cc;
	padding: 3px;
}

a.category1:hover {
	background-color: white;
}

#judul {
	/*float: left;*/
	font-size: 18px;
	line-height: 34px;
	margin-left: 2%;
	color: red;
}

#navbar {
	margin-top: 40px;
	float: right;
}

p {
	color: black;
}